<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="120" status="WARN">

  <Properties>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}
      %notEmpty{[userId:%X{userId}]} - %msg%n
    </Property>
  </Properties>

  <Appenders>
    <Console follow="true" name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>

</Configuration>